<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title class="logo">Blogger Home Page</title>
        <link rel="stylesheet" type="text/css" href="../main.css">
    </head>
    <body>
        <div class="navigation">
            <div class="button-container">
                <div class="inner-container">
                <div style="display: flex; justify-content: flex-start; padding-left: 20px;">
                    <div style="display: block;">
                        <h2>Login</h2>
                    </div>
                </div>
                <nav>
                    <ul>
                        <li class="custom-li"><a href="http://localhost:3000/users/author/login">Author Login</a></li>
                        <li class="custom-li"><a href="http://localhost:3000/users/reader/login">Reader Login</a></li>
                    </ul>
                </nav>
                </div>
            </div>
        </div>
    </body>
</html>
